vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Aug 2012 01:30:55 -0000
vti_extenderversion:SR|12.0.0.4518
vti_author:SR|DELL-9200C-WIN7\\Rob Stewart
vti_modifiedby:SR|DELL-9200C-WIN7\\Rob Stewart
vti_timecreated:TR|12 Aug 2012 01:30:55 -0000
vti_cacheddtm:TX|12 Aug 2012 01:30:55 -0000
vti_filesize:IR|2579
vti_cachedlinkinfo:VX|S|images/cloud1.png S|images/cloud2.png S|images/balloon1.png S|images/balloon2.png S|images/balloon3.png
vti_cachedsvcrellinks:VX|FSUS|wordpress/parallaxSwipe/images/cloud1.png FSUS|wordpress/parallaxSwipe/images/cloud2.png FSUS|wordpress/parallaxSwipe/images/balloon1.png FSUS|wordpress/parallaxSwipe/images/balloon2.png FSUS|wordpress/parallaxSwipe/images/balloon3.png
vti_backlinkinfo:VX|wordpress/parallaxSwipe/parallaxVertical.html
vti_syncwith_torontographic.com\:21:TW|12 Aug 2012 01:30:55 -0000
vti_syncofs_torontographic.com\:21:TW|21 Aug 2012 13:17:00 -0000
